<!-- BEGIN PAGE HEAD -->
<div class="page-head">
  <div class="container">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1><i class="fa fa-sign-in fa-2x"></i><i class="fa fa-sign-out fa-2x"></i> Main
        <small>this is where it all starts</small>
      </h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <div class="jumbotron">
      <h1>'Allo, 'Allo!</h1>
      <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
      </p>
      <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
    </div>

    <div class="row marketing">
      <h4>HTML5 Boilerplate</h4>
      <p>
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
      </p>

      <h4>Angular</h4>
      <p>
        AngularJS is a toolset for building the framework most suited to your application development.
      </p>

      <h4>Karma</h4>
      <p>Spectacular Test Runner for JavaScript.</p>
    </div>
  </div>
</div>

